<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
        <h3>Mise a un produit</h3>
    </div>
    <div class="card-body">
        <form name="myForm">

           <div class="form-group">
            <label for="category" class="gray-text">Nom Categorie</label>
             <select name="category" id="category" #category ="ngModel" 
                class="form-control" [(ngModel)]="selectedCategory" >
                <option *ngFor="let cat of categories" [ngValue]="cat">
                  {{cat.name}}
                </option>
              </select>
            
            <span *ngIf="error!=null">
              <font color="red">{{error}}</font>
            </span>
          </div>
          
          <div class="form-group">
            <label for="name" class="gray-text">Nom Produit</label>
            <input id="name" name="name" #name="ngModel" type="text" class="form-control" [(ngModel)]="product.name"
              required>
            
            <span *ngIf="error!=null">
              <font color="red">{{error}}</font>
            </span>
          </div>

          <div class="form-group">
            <label for="name" class="gray-text">Quantite</label>
            <input id="qtt" name="qtt" #qtt="ngModel" type="text" class="form-control" [(ngModel)]="product.qtt"
              required>
            
            <span *ngIf="error!=null">
              <font color="red">{{error}}</font>
            </span>
          </div>
          
            <button class="btn btn-success" type="submit" (click)="register()">Save
              <i class="mdi-content-send right green-text"></i>
            </button>
            <button class="btn " type="submit" (click)="anuuler()" >Annuler
              <i class="mdi-content-send right green-text"></i>
            </button>
        

      </form>
    </div>
      
  </div>

</div>